<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE>Example HTML doc to mailer test</TITLE>
   </HEAD>
   <BODY>
	Hello world, my name is [%= $_{name} %] and this is test_2b.html template!
   </BODY>
</HTML>
